# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/{{ build_user }}/devel/meta-rh \
  /home/{{ build_user }}/devel/poky/meta \
  /home/{{ build_user }}/devel/poky/meta-poky \
  /home/{{ build_user }}/devel/poky/meta-yocto-bsp \
  "
